{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-lg-6">
        <div class="box-element" id="form-wrapper">
            <form id="form">
                <div id="user-info">
                    <div class="form-field">
                        <input class="form-control" name="name" placeholder="Name.." required type="text">
                    </div>
                    <div class="form-field">
                        <input class="form-control" name="email" placeholder="Email.." required type="email">
                    </div>
                </div>

                <div id="shipping-info">
                    <hr>
                    <p>Shipping Information: </p>
                    <hr>
                    <div class="form-field">
                        <input class="form-control" name="address" placeholder="Address.." type="text">
                    </div>
                    <div class="form-field">
                        <input class="form-control" name="city" placeholder="City.." type="text">
                    </div>
                    <div class="form-field">
                        <input class="form-control" name="state" placeholder="State.." type="text">
                    </div>
                    <div class="form-field">
                        <input class="form-control" name="zipcode" placeholder="Zip code.." type="text">
                    </div>
                </div>
                <hr>
                <input class="btn btn-success btn-block" id="form-button" type="submit" value="Continue">
            </form>
        </div>
        <br>

        <div class="box-element hidden" id="payment-info">
            <small>Paypal Option</small>
        </div>
    </div>


    <div class="col-lg-6">
        <div class="box-element">
            <a class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
            <hr>
            <h3>Order Summary</h3>
            <hr>
            {% for item in items %}
            <div class="cart-row">
                <div style="flex:2"><img class="row-image" src="{{item.product.imageURL}}"></div>
                <div style="flex:2"><p>{{item.product.name}}</p></div>
                <div style="flex:1"><p>{{item.product.price}}</p></div>
                <div style="flex:1"><p>{{item.quantity}}</p></div>
            </div>
            {% endfor %}
            <h5>Items: {{order.get_cart_items}}</h5>
            <h5>Total: {{order.get_cart_total}}</h5>
        </div>
    </div>
</div>
{% endblock content %}